.play-btn{
    width: 201px;
    height: 202px;
    border-radius: 101px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    @media screen and (max-width: $max-mobile-width){
        width: 100px;
        height: 100px;
        img{
            width: 35px;
        }
    }
}

.scale{
    border-radius: 7px;
    height: 93px;
    width: 100%;
    background-color: #d9d0d0;
    padding: 43px 34px 37px;
    position: relative;
    .controls{
        width: 100%;
        height: 11px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        border-radius: 6px;
        position: relative;
        @media screen and (max-width: $max-mobile-width){
            height: 5px;
        }
        .play{
            width: 43px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            @media screen and (max-width: $max-mobile-width){
                width: 30px;
            }
        }
        .scale-btn{
            width: 48px;
            height: 47px;
            border-radius: 24px;
            filter: drop-shadow(0px 20px 11.5px rgba(47,137,252,0.16));
            background-color: #ffffff;
            border: 8px solid #000000;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(0, -50%);
            @media screen and (max-width: $max-mobile-width){
                width: 30px;
                height: 30px;
                border: 4px solid #000000;
            }
        }
    }
}

.button{
    cursor: pointer;
    font-size: 40px;
    width: 331px;
    max-width: 100%;
    height: 84px;
    border-radius: 15px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    font-family: "Gilroy";
    border: 0;
    @media screen and (max-width: $max-mobile-width){
        height: 50px;
        font-size: 30px;
    }
}

.small-button{
    width: 219px;
    max-width: 100%;
    height: 64px;
    background-color: #262020;
    border: 1px solid #707070;
    font-size: 35px;
    color: #f5eded;
    font-family: "Stencil";
    border-radius: 0;
    margin: 0 auto;
    @media screen and (max-width: $max-mobile-width){
        height: 50px;
        width: 120px;
        font-size: 28px;
    }
}

.progress-area{
    width: 100%;
    height: 68px;
    border-radius: 34px;
    filter: drop-shadow(0 0 6px rgba(0,0,0,0.16));
    background-color: #ffffff;
    border: 1px solid #707070;
    padding: 4px;
    @media screen and (max-width: $max-mobile-width){
        height: 48px;
    }
    .progress{
        width: 55%;
        height: 58px;
        border-radius: 29px;
        background-color: #000000;
        border: 1px solid #707070;
        @media screen and (max-width: $max-mobile-width){
            height: 38px;
        }
    }
}

.form-input{
    height: 56px;
    filter: drop-shadow(0 0 6px rgba(0,0,0,0.16));
    background-color: #ffffff;
    border: 1px solid #707070;
    @media screen and (max-width: $max-mobile-width){
        height: 38px;
    }
}

.message-input{
    max-width: 100%;
    height: 75px;
    border-radius: 20px;
    filter: drop-shadow(0 0 6px rgba(0,0,0,0.16));
    background-color: #ffffff;
    border: 1px solid #707070;
    font-size: 30px;
    font-family: "Segoe UI";
    @media screen and (max-width: $max-mobile-width){
        height: 50px;
        font-size: 20px;
    }
}
::placeholder{
    font-size: 30px;
    color: #707070;
    font-family: "Segoe UI";
    @media screen and (max-width: $max-mobile-width){
        font-size: 20px;
    }
}